:root {
  --header-height: 70px;
}

html,
body {
  color: white;
  font-family: "Roboto Condensed";
  overflow-x: hidden;
  background-color: rgb(28, 32, 34);
  margin: 0;
  padding-top: calc(var(--header-height) / 2);
}

a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}



header{
    width: 100vw;
    padding:  0 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(28,32,34,1) 0%, rgba(28,32,34,1) 50%, rgba(8,10,10,1) 100%);
    position: fixed;
    z-index: 5;
    top: 0;
    height: var(--header-height);
}

header svg{
    width: 40px;
    padding-left: 15px;
    fill: white;
    position: relative;

}

a:first-of-type {
    position: relative;
}

a:first-of-type:after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: rgb(28, 32, 34);

    position: absolute;
    right: 0;
    bottom: 0;
}

a{
    text-decoration: none;
}

.right-icons{
    position: absolute;
    right:100px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.image-container-container {
  position: relative;
  width: min(100%, 500px);
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid white;
  position:absolute;
  left: 0;
  top: 300px;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 248, 255, 0);
  
}

#name{
    font-size: 2rem;
    font-family: Roboto Condensed;
}

.inicio{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.left-div{
    max-width: 35vw;
}



.subtitle{
    font-size: 4em;
    display: inline-block;
    align-items: center;
    display: inline;
}

.underlined{
    font-size: 4rem;
    text-decoration:3px underline rgb(0, 255, 136);
    display: inline;
    text-underline-offset: 10px;

}

#about-me{
    font-size: 2rem;

}

#profile-image{
    display: inline-block;
    width: min(100%, 500px);
    padding-top: 15px;
    padding-bottom: 15px;
}

.end-section{
    width: 90%;
    height: 1px;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 50px;
}

#segunda-parte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#terceira-parte {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  padding: 0 20px;
}


  .content-container{
    height: 200px;
    border: 1px white solid;
    padding: 20px;
    font-size: 2rem;
    display: inline-block;
  }
  .content-container svg{
    height: 50px;
    fill: white;
    padding: 10px;
  }

  .content-container p {
    font-size: 1rem;
  }

  #projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media screen and (width < 2500px) {
    #projects-container{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (width < 1650px) {
    #projects-container{
      grid-template-columns: repeat(1, 1fr);
    }
  }


  .project-content{
    width: 800px;
    border: 1px white solid;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }



  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
    color: black;
    transition: opacity .2s;
  }

  .buttons:hover{
    opacity: 1;
    pointer-events: all;
  }

  .buttons a {
    padding: 10px;
    background-color: rgb(28, 32, 34);
    border-radius: 5px;
  }
  .project-content img{
    width: 750px;
    margin: auto;
  }



  .project-content h4{
    margin-top: -5px;
    font-size: 1rem;
  }

  @media screen and (width < 850px){
      
    .project-content{
      width: 90vw;
    }

    .project-content img{
      width: 90vw;
    }
    }

  footer{
    height: var(--header-height);
    background: linear-gradient(-90deg, rgba(28,32,34,1) 0%, rgba(28,32,34,1) 50%, rgba(8,10,10,1) 100%);
  }

  footer h4{
    margin-left: 100px;
    padding-top: 20px;
  }


  .right-div {
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (width < 1300px) {
    .left-div{
      max-width: none;
      padding: 20px;
  }
    .inicio{
      flex-direction: column;
  }
  .image-container, .right-div {
    justify-content: center;
  }
  }